@{
    ViewBag.Title = "Selection";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hungry Hungry Hipsters</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--CSS references-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrapOveride.css" rel="stylesheet" />
</head>
<body>
    <!--top of page image-->
    <div class="jumbotron">
        <div class="container">
            <img src="~/Content/images/logo.jpg" />
        </div>
    </div>
    <!--start of page contents-->
    <div class="container">
        <div class="col-lg-6">

            <h3>Your craving could be related to a deficiency in the following nutrients: </h3>

            <div id="suggestion">
                @foreach (var item in ViewBag.Data)
                {
                    <p>@item</p>
                }
                </div>
        </div>
        <div class="col-lg-6">
            <h3>Hungry Hungry Hipsters Suggests the following foods: </h3>
            <div id="suggestion">
                @foreach(var item in ViewBag.Selection)
                {
                    <p>@item</p>
                }
               </div>
        </div>
        
            <h3>Hungry Hungry Hipsters Suggests the following recipes: </h3>
        
            @for (int i = 0; i < 6; i++)
            {
                <div class="col-lg-6">
                    <tr>

                        <td>
                            <a href="@Model[i].recipe.url" target=newtab>
                                <img id="recipeImg" src="@Model[i].recipe.image" alt="food">
                            </a>
                        </td>
                        <td>
                            <div id="recipeLabel">
                                @Model[i].recipe.label
                            </div>
                        </td>
                        <td>
                            <div id="ingredients">
                                @foreach (string e in @Model[i].recipe.ingredientLines)
                                {
                                    @e;
                                    <br />
                                }
                            </div>
                        </td>
                    </tr>
                </div>
            }


    </div>
</body>