@{
    ViewBag.Title = "Selection";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hungry Hungry Hipsters</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--CSS references-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrapOveride.css" rel="stylesheet" />
</head>
<body>
    <!--top of page image-->
    <div class="jumbotron">
        <div class="container">
            <img src="~/Content/images/logo.jpg" />
        </div>
    </div>
    <!--start of page contents-->
    <div class="container">
        <div class="col-lg-6">

            <h3>Your craving could be related to a deficiency in the following nutrients: </h3>

            <div id="suggestion">
                @foreach (var item in ViewBag.Data)
                {
                    <div class="col-lg-6">
                        <tr>
                            <td>
                                <p>@item</p>
                            </td>
                        </tr>
                    </div>
                }
                </div>
        </div>
        <div class="col-lg-6">
            <h3>Hungry Hungry Hipsters Suggests the following foods: </h3>
            <div id="suggestion">
                @foreach(var item in ViewBag.Selection)
                {
                    <div class="col-lg-6">
                        <tr>
                            <td>
                                <p>@item</p>
                            </td>
                        </tr>
                    </div>
                }
               </div>
        </div>
        
            <h3>Hungry Hungry Hipsters Suggests the following recipes: </h3>
        
            @foreach (var f in Model)
            {
                <div class="col-lg-4">
                    <tr>

                        <td>
                            <a href="@f.recipe.url" target=newtab>
                                <img id="recipeImg" src="@f.recipe.image" alt="food">
                            </a>
                        </td>
                        <td>
                            <div id="recipeLabel">
                                @f.recipe.label
                            </div>
                        </td>

                       <!--<td>
                            <div id="ingredients">
                                @foreach (string e in f.recipe.ingredientLines)

                                {
                                    @e;
                                    <br />
                                }
                            </div>

                        </td>-->

                    </tr>
                </div>
            }


    </div>
</body>