@{
    ViewBag.Title = "Selection";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrapOveride.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Hungry Hungry Hipsters</h1>
        </div>
</body>
            <h2>Your craving could be related to a deficiency in the following nutrients: </h2>

            @foreach (var item in ViewBag.Data)
            {
                <p>@item</p>
            }
            <h3>Hungry, Hungry Hipsters Suggests the following recipes: </h3>
            @foreach (var item in ViewBag.Selection)
            {
                <p>@item</p>
            }
<h2>Your craving could be related to a deficiency in the following nutrients: </h2>

@foreach (var item in ViewBag.Data)
{
    <p>@item</p>
}
<h3>Hungry, Hungry Hipsters Suggests the following foods: </h3>
@foreach(var item in ViewBag.Selection)
{
    <p>@item</p>
}
<h3>Hungry, Hungry Hipsters Suggests the following recipes: </h3>
@for (int i = 0; i < 5; i++)
{
    <tr>
        <td>
            <a href="@Model[i].recipe.url" target=newtab>
                <img src="@Model[i].recipe.image" alt="food" height="50" width="50">
            </a>
        </td>
        <td>
            @Model[i].recipe.label
        </td>
        <td>
            @foreach (string e in @Model[i].recipe.ingredientLines)
            {
                @e;
                <br />
            }
        </td>
    </tr>
}